<%- include("./partials/header") %>
    <main>
        <!-- project title & lead -->
        <div class="container pt-5 mt-5">
            <div class="row mx-3 mx-sm-0 mx-xl-3">
                <div class="col-12 px-0">
                    <h1>Projects</h1>
                    <p class="lead">View my Web Development Projects here!</p>
                </div>
            </div>
        </div>
        <hr class="mb-0">
        <!-- project cards -->
        <div id="projects" class="container">
            <div class="row justify-content-between mx-3 mx-sm-0">
                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/project-page-images/projects-not-expanded.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Personal Website</h5>
                        <p class="card-text">
                            I followed mobile-first development to build my website to ensure as wide an audience is reached.
                            I decided to use a simple, clean yet visually appealing layout.
                        </p>
                        <a href="https://github.com/MrWalshy/e-portfolio-main" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>

                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/project-page-images/museum-of-candy.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Museum Of Candy</h5>
                        <p class="card-text">
                            This is a, mobile-first, Bootstrap 4 project developed as an exercise from Colt Steele's Udemy Web Developer Bootcamp.
                            I made modifications to the original design to remove excess horizontal space & to tidy the design up.
                        </p>
                        <a href="https://github.com/MrWalshy/museum-of-candy" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>

                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/project-page-images/colorGameHexModeInPlay.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Color Game (JS)</h5>
                        <p class="card-text">
                            A Javascript exercise from Colt Steele's Udemy Web Developer Bootcamp.
                            Improving on the original, I added a new difficulty (medium) & a hex color mode.
                        </p>
                        <a href="https://github.com/MrWalshy/Color-Game-JS" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>

                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/project-page-images/todoListShowDelAndDone.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">To-Do List (jQuery)</h5>
                        <p class="card-text">
                            A jQuery exercise from Colt Steele's Udemy Web Developer Bootcamp.
                            Improved on the original by adding a rename feature, by clicking the title,
                            and fixed positioning & sizing issues.
                        </p>
                        <a href="https://github.com/MrWalshy/jQuery-todo-list" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>
    
                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/site-first-started.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>
                    
                <div class="card col-12 col-md-5 px-0 my-3 mx-xl-3 project-card">
                    <img src="./images/site-first-started.png" class="card-img-top h-40" alt="...">
                    <button class="expand-btn btn btn-light text-center d-none d-md-block"><span class="expand-btn-text">&#10094;Expand&#10095;</span><span class="shrink-btn-text d-none">&#10095;Shrink&#10094;</span></button>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Museam of Candy</h5>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" target="_blank" class="btn btn-outline-primary"><i class="fab fa-github"></i> Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./scripts/projects.js"></script>
<%- include("./partials/footer") %>